/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 280px;
}

.display {
  font-size: 2rem;
  text-align: right;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 60px;
}

button {
  background-color: #f1f1f1;
  border: none;
  font-size: 1.5rem;
  padding: 20px;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #dcdcdc;
}

button:active {
  background-color: #b0b0b0;
}

button:focus {
  outline: none;
}

.operator {
  background-color: #ff7f50;
  color: white;
  width: 50px;  /* Reduced size */
  height: 50px; /* Reduced size */
}

.operator:hover {
  background-color: #ff5722;
}

.equal {
  background-color: #4CAF50;
  color: white;
  width: 100px;
}

.equal:hover {
  background-color: #388e3c;
}

.clear {
  background-color: #f44336;
  color: white;
  width: 100px;
}

.clear:hover {
  background-color: #d32f2f;
}

button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
